# Test format changes to this .travis.yml file before submitting a PR with:
# http://lint.travis-ci.org/OneBusAway/onebusaway-android

language: android
jdk: oraclejdk8
# Turn off caching to avoid any caching problems
cache: false
# Don't use the Travis Container-Based Infrastructure - See #476
sudo: true
env:
  global:
    - ANDROID_API_LEVEL=23
    - ANDROID_BUILD_TOOLS_VERSION=25.0.2
    - ADB_INSTALL_TIMEOUT=20 # minutes (2 minutes by default - see #247)

android:
  components:
    - platform-tools
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
    # Google Play Services
    - extra-google-google_play_services
    # Support library
    - extra-android-support
    # Latest artifacts in local repository
    - extra-google-m2repository
    - extra-android-m2repository

 licenses:
   - android-sdk-preview-license-.+
   - android-sdk-license-.+
   - google-gdk-license-.+
   - android-sdk-license-5be876d5

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - chmod +x gradlew
  - ./gradlew dependencies || true # DON'T ADD unless you are getting "Install missing components using SDK manager"
  #Source: https://medium.com/@oldergod/constraint-layout-and-circleci-travis-d50342696d2

# Only run tests on the main two OneBusAway brand flavors
script:
  - ./gradlew assembleObaGoogleDebug assembleObaAmazonDebug -PdisablePreDex

notifications:
  webhooks:
  # Integration with Gitter (https://gitter.im/OneBusAway/onebusaway-android)
    urls:
      - https://webhooks.gitter.im/e/a579a4e7a21ff6ee51a1
    on_success: change
    on_failure: always